---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import Producto from '../components/Producto.astro';

---

<Layout title="Queso Creations">
	<main>
		<div class="offcanvas-menu-overlay"></div>
		<div class="offcanvas-menu-wrapper">
			<div class="offcanvas__close">+</div>
			<ul class="offcanvas__widget">
				<ul>
					<li class="active"><a href="./index.html">Inicio</a></li>
					<li><a href="#amigurumis">Amigurumis</a></li>
					<li><a href="#flores">Flores</a></li>
					<li><a href="#bordados">Bordados</a></li>
					<li><a href="#accesorios">Accesorios</a></li>
					<li><a href="#banner">Contacto</a></li>
				</ul>
			</ul>
		</div>
		<header class="header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xl-3 col-lg-2">
						<div class="header__logo">
							<a href="./index.html"><img src="/img/logo2.png" alt=""></a>
						</div>
					</div>
					<div class="col-xl-7 col-lg-7">
						<nav class="header__menu">
							<ul>
								<li class="active"><a href="./index.html">Inicio</a></li>
								<li><a href="#amigurumis">Amigurumis</a></li>
								<li><a href="#flores">Flores</a></li>
								<li><a href="#bordados">Boordados</a></li>
								<li><a href="#accesorios">Accesorios</a></li>
								<li><a href="#banner">Contacto</a></li>
							</ul>
						</nav>
					</div>
					
				</div>
				<div class="canvas__open">
					<i class="fa fa-bars"></i>
				</div>
			</div>
		</header>
		<!-- Header Section End -->
	
		<!-- Categories Section Begin -->
		<section class="categories">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-6 p-0">
						<div class="categories__item categories__large__item set-bg"
						data-setbg="/img/categories/category-1.jpg">
						<div class="categories__text">
							<h1>Bienvenid@</h1>
							<p>Este espacio fue hecho para mostrarte los proyectos que he hecho.
							¡Gracias por estar aquí, espero que disfrutes explorando mis creaciones!</p>
							<a href="#banner">Contáctame</a>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-6 p-0">
							<div class="categories__item set-bg" data-setbg="../img/categories/category-2.jpg">
								<div class="categories__text">
									<h4>Amigurumis</h4>
									<p>6 productos</p>
									<a href="#amigurumis">Ver más</a>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 p-0">
							<div class="categories__item set-bg" data-setbg="img/categories/category-3.jpg">
								<div class="categories__text">
									<h4>Bordados</h4>
									<p>2 productos</p>
									<a href="#bordados">Ver más</a>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 p-0">
							<div class="categories__item set-bg" data-setbg="img/categories/category-4.jpg">
								<div class="categories__text">
									<h4>Flores</h4>
									<p>9 productos</p>
									<a href="#flores">Ver más</a>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 p-0">
							<div class="categories__item set-bg" data-setbg="img/categories/category-5.jpg">
								<div class="categories__text">
									<h4>Accessorios</h4>
									<p>3 productos</p>
									<a href="#accesorios">Ver más</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Categories Section End -->
	
	
	<section class="product spad amigurumis-section" id="amigurumis">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-4">
					<div class="section-title">
						<h4>Amigurumis</h4>
					</div>
				</div>
				<div class="col-lg-8 col-md-8">
					<ul class="filter__controls">
						<li class="active" data-filter="*">Todo</li>
						<li data-filter=".cantantes"></li>
						<li data-filter=".superheroes">Super Héroes</li>
						<li data-filter=".pokemones">Pokemón</li>
						<li data-filter=".cantantes">Cantantes</li>
						<li data-filter=".deportes">Deporte</li>
					</ul>
				</div>
			</div>
			<div class="row property__gallery">
				<div class="col-lg-3 col-md-4 col-sm-6 mix superheroes">
					<Producto nombre="LadyBug", tamaño="25", precio='369', imagen='/img/product/product-25.jpg'/>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 mix superheroes">
					<Producto nombre="Cat Noir", tamaño="28", precio='389', imagen='/img/product/product-24.jpg'/>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 mix cantantes">
					<Producto nombre="Karol G sirena", tamaño="35", precio='499', imagen='/img/product/product-1.jpg'/>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 mix pokemones">
					<Producto nombre="Gengar", tamaño="18", precio='349', imagen='/img/product/product-4.jpg'/>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 mix cantantes">
					<Producto nombre="Harry Styles", tamaño="15", precio='249', imagen='/img/product/product-5.jpg'/>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 mix deportes">
					<Producto nombre="Mascota del Atlas", tamaño="17", precio='299', imagen='/img/product/product-6.jpg'/>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 mix cantantes">
					<Producto nombre="Duki estilo Kunko Pop", tamaño="20", precio='349', imagen='/img/product/product-7.jpg'/>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 mix superheroes">
					<Producto nombre="Iron Man", tamaño="13", precio='199', imagen='/img/product/product-8.jpg'/>
				</div>
			</div>
		</div>
	</section>
	<section class="product spad flores-section" id="flores">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-4">
					<div class="section-title">
						<h4>Flores</h4>
					</div>
				</div>
			</div>
			<div class="row property__gallery">
				<div class="col-lg-3 col-md-4 col-sm-6 mix girasoles">
					<Producto nombre="Girasol con maceta 1", tamaño="16", precio='89', imagen='/img/product/product-9.jpg'/>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 mix combinados">
					<Producto nombre="1 docena de rosas con 3 tulipanes", tamaño="0", precio='765', imagen='/img/product/product-10.jpg'/>
					
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 mix alcatraces">
					<Producto nombre="Alcatraz", tamaño="0", precio='39', imagen='/img/product/product-11.jpg'/>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 mix cantantes">
					<Producto nombre="Rosa", tamaño="0", precio='59', imagen='/img/product/product-12.jpg'/>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 mix cantantes">
					<Producto nombre="Ramo de 1 tulipán y 1 alcatraz", tamaño="0", precio='88', imagen='/img/product/product-13.jpg'/>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 mix cantantes">
					<Producto nombre="Ramo para graduación", tamaño="0", precio='237', imagen='/img/product/product-14.jpg'/>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 mix cantantes">
					<Producto nombre="Ramo de 1 docena de tulipanes", tamaño="0", precio='528', imagen='/img/product/product-15.jpg'/>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 mix cantantes">
					<Producto nombre="Ramo de 2 tulipanes y 1 rosa", tamaño="0", precio='157', imagen='/img/product/product-16.jpg'/>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 mix girasoles">
					<Producto nombre="Girasol con maceta 2", tamaño="0", precio='59', imagen='/img/product/product-17.jpg'/>
				</div>
				
				
			</div>
	</section>
	<section class="product spad bordados-section" id="bordados">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-4">
					<div class="section-title">
						<h4>Bordados</h4>
					</div>
				</div>
			</div>
			<div class="row property__gallery">
				<div class="col-lg-3 col-md-4 col-sm-6 mix girasoles">
					<Producto nombre="Bordado personalizado", tamaño="10.5", precio='249', imagen='/img/product/product-19.jpg'/>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 mix combinados">
					<Producto nombre="Bordado personalizado", tamaño="13.5", precio='299', imagen='/img/product/product-20.jpg'/>
				</div>
			</div>
		</div>
	</section>
	<section class="product spad accesorios-section" id="accesorios">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-4">
					<div class="section-title">
						<h4>Accesorios</h4>
					</div>
				</div>
			</div>
			<div class="row property__gallery">
				<div class="col-lg-3 col-md-4 col-sm-6 mix girasoles">
					<Producto nombre="Llavero de girasol", tamaño="4", precio='19', imagen='/img/product/product-21.jpg'/>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 mix combinados">
					<Producto nombre="Llavero de zorro", tamaño="6", precio='59', imagen='/img/product/product-23.jpg'/>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6 mix combinados">
					<Producto nombre="Llavero de pollito", tamaño="5", precio='29', imagen='/img/product/product-22.jpg'/>
				</div>
			</div>
		</div>
	</section>
	<!-- Banner Section Begin -->
	<section class="banner set-bg" id="banner" data-setbg="img/banner/banner-1.jpg">
		<div class="container">
			<div class="row">
				<div class="col-xl-7 col-lg-8 m-auto">
					<div class="banner__slider owl-carousel">
						<div class="banner__item">
							<div class="banner__text">
								<span>PARA PEDIDOS:</span>
								<h1>Realiza tu pedido con al menos 5 días de anticipo.</h1>
								<a href="https://api.whatsapp.com/send?phone=523330604000&text=Hola,%20me%20interesa%20pedir%20información%20sobre%20tu%20trabajo%20a%20crochet" target="_blank">Enviar mensaje</a>
							</div>
						</div>
						<div class="banner__item">
							<div class="banner__text">
								<span>Para mayoreo:</span>
								<h1>Aplica a partir de 6 piezas del mismo modelo</h1>
								<a href="https://api.whatsapp.com/send?phone=523330604000&text=Hola,%20me%20interesa%20pedir%20información%20sobre%20tu%20trabajo%20a%20crochet" target="_blank">Enviar mensaje</a>
							</div>
						</div>
						<div class="banner__item">
							<div class="banner__text">
								<span>Para cotizaciones</span>
								<h1>Envíame tu idea sin compromiso.</h1>
								<a href="https://api.whatsapp.com/send?phone=523330604000&text=Hola,%20me%20interesa%20pedir%20información%20sobre%20tu%20trabajo%20a%20crochet" target="_blank">Enviar mensaje</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	
	
	<!-- Footer Section Begin -->
	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-6 col-sm-7">
					<div class="footer__about text-center">
						<p>¡Todos mis productos son totalmente hechos a mano por mí con la mejor calidad para que disfrutes de artículos únicos y duraderos!</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-8 col-sm-8">
					<div class="footer__newslatter text-center">
						<h6>Contáctame a través de:</h6>
						<div class="footer__social">
							<a href="https://www.facebook.com/profile.php?id=100009831905992" target="_blank"><i class="fa fa-facebook"></i></a>
							<a href="https://www.instagram.com/elizabeth__1407/" target="_blank"><i class="fa fa-instagram"></i></a>
							<a href="https://api.whatsapp.com/send?phone=523330604000&text=Hola,%20me%20interesa%20pedir%20información%20sobre%20tu%20trabajo%20a%20crochet" target="_blank"><i class="fa fa-whatsapp"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-7">
					<div class="footer__about text-center">
						<p>Si algo te interesa o deseas un pedido personalizado, no dudes en contactarme.
							¡Gracias por tu confianza!
						</p>
					</div>
				</div>
			</div>
		</div>
	</footer>
		
	</main>

	<script is:inline src="/src/js/jquery-3.3.1.min.js"></script>
	<script is:inline src="/src/js/bootstrap.min.js"></script>
	<script is:inline src="/src/js/jquery.magnific-popup.min.js"></script>
	<script is:inline src="/src/js/jquery-ui.min.js"></script>
	<script is:inline src="/src/js/mixitup.min.js"></script>
	<script is:inline src="/src/js/jquery.countdown.min.js"></script>
	<script is:inline src="/src/js/jquery.slicknav.js"></script>
	<script is:inline src="/src/js/owl.carousel.min.js"></script>
	<script is:inline src="/src/js/jquery.nicescroll.min.js"></script>
	<script is:inline src="/src/js/main.js"></script>
	<script is:inline>
		$(document).ready(function() {
		$('.image-popup').magnificPopup({
			type: 'image',
			gallery: {
				enabled: true
			},
			callbacks: {
				open: function() {
					// Mostrar la imagen extra al abrir el popup
					$('.product_item_pic-extra').css('display', 'block');
				},
				close: function() {
					// Ocultar la imagen extra al cerrar el popup
					$('.product_item_pic-extra').css('display', 'none');
				}
			}
		});
	});
	
	</script>
	<script is:inline>
		const menuLinks = document.querySelectorAll('.header__menu ul li a');
		const inicio = document.querySelector('.categories');
		const amigurumis = document.querySelector('.amigurumis-section');
		const flores = document.querySelector('.flores-section');
		const bordados = document.querySelector('.bordados-section');
		const accesorios = document.querySelector('.accesorios-section');
		const contacto = document.querySelector('.banner');
		function checkSection() {
			let scrollPosition = window.scrollY;
			let inicioOffset = Math.abs(scrollPosition - inicio.offsetTop);
			let amigurumisOffset = Math.abs(scrollPosition - amigurumis.offsetTop);
			let floresOffset = Math.abs(scrollPosition - flores.offsetTop);
			let bordadosOffset = Math.abs(scrollPosition - bordados.offsetTop);
			let accesoriosOffset = Math.abs(scrollPosition - accesorios.offsetTop);
			let contactoOffset = Math.abs(scrollPosition - contacto.offsetTop);
	
			let offsets = [inicioOffset, amigurumisOffset, floresOffset, bordadosOffset, accesoriosOffset, contactoOffset];
			let closestSectionIndex = offsets.indexOf(Math.min(...offsets));
	
			menuLinks.forEach(link => {
				link.classList.remove('active');
			});
			menuLinks[closestSectionIndex].classList.add('active');
		}
		window.addEventListener('DOMContentLoaded', checkSection);
		window.addEventListener('scroll', checkSection);
	</script>
	
	

</Layout>
