---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />


		<link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet" />
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap" rel="stylesheet" />

		<!-- Css Styles -->
		<link rel="stylesheet" href="/public/css/bootstrap.min.css" type="text/css" />
		<link rel="stylesheet" href="/public/css/font-awesome.min.css" type="text/css" />
		<link rel="stylesheet" href="/public/css/elegant-icons.css" type="text/css" />
		<link rel="stylesheet" href="/public/css/jquery-ui.min.css" type="text/css" />
		<link rel="stylesheet" href="/public/css/magnific-popup.css" type="text/css" />
		<link rel="stylesheet" href="/public/css/owl.carousel.min.css" type="text/css" />
		<link rel="stylesheet" href="/public/css/slicknav.min.css" type="text/css" />
		<link rel="stylesheet" href="/public/css/style.css" type="text/css" />


		<title>{title}</title>
	</head>
	<body>
		<slot />
		
	</body>
</html>

